* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.flex {
display: flex;
align-items: center;
}


button {
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin: 0 20px;
  background:  rgb(131, 22, 113);
  color:  rgb(247, 240, 245);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  border: none;
 }

button:disabled {
  margin: 0 20px;
   background: rgb(247, 223, 240);
  color:  rgb(187, 121, 176);
  box-shadow: none;
}

input {
  height: 50px;
  text-align: center;
  font-size: large;
  border-radius: 8px;
  border-color:rgb(187, 121, 176);
  color: rgb(131, 22, 113);
}


.form {
  display: flex;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
   padding: 10px;
  margin-right: 10px;
  font-weight: 700;
}


.timer {
  display: flex;
  margin-left: 20px;
   }

  
  .value {
    color: rgb(131, 22, 113);
    font-weight: 400;
    font-size: 55px;
  }
  
  .label {
    color: rgb(131, 22, 113);
    font-weight: 400;
    font-size: 20px;
  }
 